/*h1 {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 96px;
	color: white;
	margin-left: 20px;
	margin-top:20px;
	line-height: 0.95;

}*/

body{
	background-color: red;
  font-size: 16px;
}

.wrapper{
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blue;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 0;
    background-image: url("window.jpg");
    background-size: cover;
}





iframe{
  width: 100vw;
  height: 100vh;
  transition: 1s ease-in-out;
  border: none;
  overflow-y: scroll;
  z-index: 10;
}




/*#circle {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50px;
  background: red;
  border: 10px solid black;
  display: inline-block;
  float: left;
}*/

button.accordion {
    width: 100%;
    
    height: 3%;


    border-style: none;
/*    border: 10px solid black;
*/
/*    border-radius: 0px 60px 0px 0px;
*/
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: 0.4s;
/*    font-family: "Helvetica", serif;
    font-weight: bold;
    font-size: 2em;
*/    outline: none;
    display: inline;
    float: left;
    order: 1;
    z-index: 10;



}

button.accordion:hover{
    background-color: red;
    height: 10%;

}

button.accordion:active{
  background-color: red;

  height: 4%;

}

div.panel{
    background-color: red;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
/*  border: 10px solid black;
*/  outline: none;
    display: inline;
	  float: left;
	  order: 2;
    z-index: 12;

}




.objContainer{
  width: 60%; 
  height: 80%;
  text-align: center;
  padding-top: 5%;
  margin:0 auto;
  z-index: 0;
  position: relative;

}

.objContainer2{
  width: 100%; 
  height: 80%;
  text-align: center;
  padding-top: 5%;

  margin: 0 auto;
  z-index: 0;
  position: relative;

}

/*object{
  text-align: center;
  width: 90%;
  height: 90%;
  position: relative;
  z-index: 0;
}*/

object.flightPath{
  text-align: center;
  width: 90%;
  height: 80%;
  position: relative;
  z-index: 0;
}

object.marsPath{
  text-align: center;
  width: 90%;
  height: 80%;
  position: relative;
  z-index: 0;
}



object.handle{
  text-align: center;
/*  top: 50px;
*/  width: 90%;
  height: 10%;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  transition: 2s ease-in-out;
  z-index: 5;

}

object.handle.clicked{
  position: relative;
/*  z-index: -100;
*/  bottom: -1000px;
/*  display: none;
*/
}

.under{
  padding-top: 10%;
  padding-left: 5%;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.nasa{
  float: right;
  right: 5%;
  text-align: right;
  width: 35%;
  height: auto;
  position: fixed;
}



a{
  z-index: 1;
  float: left;
  font-family: 'tradegothiclt-bold', sans-serif;
  font-size: 2em;
  color: white;
}



p{
  line-height: 4;
}

hr{
  border: 5px solid white;
  width: 90%;
  margin: 0 auto;
  margin-top: 6%;
  margin-left: 4.5%;
  position: absolute;
}



body {
  background-color: red;
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
  width: 100%;
  font-family: 'tradegothiclt-bold', sans-serif;
}


.text01{
  z-index: 1;
  width: 90%;
  float: left;
  position: absolute;
  bottom: 220px;
}

h1 {
  padding-left: 5%;
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;

}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}






